.place__image {
  grid-area: image;
  object-fit: contain;
  max-width: 460px;
  height: 460px;
  display: inline-block;
}

@media (max-width: 900px) {
  .place__image {
    /* width: 340px; */
    height: 340px;
  }
}

@media (max-width: 650px) {
  .place__image {
    width: 100%;
    justify-self: start;
    padding-bottom: 32px;
  }
}