.cover__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    width: 360px;
    padding: 0;
    margin: 0;
}

@media (max-width: 575px) {
    .cover__subtitle {
        width: 100%;
        font-size: 16px;
        line-height: 114%;
    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
    }
}