.cover {
  background-image: url(/images/__background.jpg);
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  padding: 0 48px;
  height: 740px;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .cover {
    height: 200px;
  }
}