.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 18px;
}

@media (max-width: 650px) {
  .footer__list {
    flex-direction: column;
    gap: 32px;
  }
}