.place {
  display: flex;
  flex-direction: row;
  padding: 0 148px 80px;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  gap: 40px;
}

.place:last-of-type {
  padding-bottom: 0px;
}

@media (max-width: 1024px) {
  .place {
    padding: 0 48px 80px;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .place {
    padding: 0 24px 73px;
    gap: 28px;
  }
}

@media (max-width: 320px) {
  .place {
    flex-direction: column;
    padding: 0 0 66px;
  }
}