.place__url-heading {
  /* width: 100%; */
  text-align: left;
  margin: 0;
  /* padding-bottom: 82px; */
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media (max-width: 650px) {
  .place__url-heading {
    grid-area: url;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 16px;
  }
}